  # Sample when vcpkg is a submodule of your repository (highly recommended!)
name: Run tests test
on: [push]
jobs: 
  build:
    runs-on: ${{ matrix.platform.os }}
    strategy:
      matrix:
        platform:
        - { Name: Windows VS2019, os: windows-2019, cc: cl.exe,    cxx: cl.exe }
        - { Name: Linux GCC,      os: ubuntu-20.04, cc: gcc-10,    cxx: g++-10 }
        - { Name: Linux Clang,    os: ubuntu-20.04, cc: clang-12,  cxx: clang++-12 }
        - { Name: MacOS Clang,    os: macos-10.15,  cc: clang,     cxx: clang++ }
        build_type: [Release, Debug]
    env:
      buildDir: '${{ github.workspace }}\build'
      CC: ${{ matrix.platform.cc }}
      CXX: ${{ matrix.platform.cxx }}
    steps:
      - name: checkout repository
        uses: actions/checkout@v2
      - name: log CMake version
        shell: bash
        run: cmake --version
      - name: add Catch2 submodule
        shell: bash
        run: git submodule add https://github.com/catchorg/Catch2 catch2/
      - name: create build enviornment
        shell: bash
        run: cmake -E make_directory $GITHUB_WORKSPACE/build
      - name: install Catch2
        shell: bash
        working-directory: ${{github.workspace}}/catch2
        run: |
             cmake -Bbuild -H. -DBUILD_TESTING=OFF -DCMAKE_INSTALL_PREFIX=$GITHUB_WORKSPACE/build
             cmake --build build/ --target install 
      - name: cmake build
        shell: bash
        run: cmake -S $GITHUB_WORKSPACE -B $GITHUB_WORKSPACE/build -DCMAKE_BUILD_TYPE=${{ matrix.build_type }}
      - name: run tests
        working-directory: ${{github.workspace}}/build
        shell: bash
        run: ctest -C ${{ matrix.build_type }}
      - name: JUnit Report Action
        uses: mikepenz/action-junit-report@v2.4.3

